@import "../../Assets/GlobalStyles/Assets.scss";
@import "../../Assets/GlobalStyles/Mixin.scss";

.form-pages {
  @include FilterStyle;

  p {
    width: 100px;
    @include FilterStyleTitle;
  }

  input {
    width: 250px;
  }
}

@media screen and (max-width: 900px) {
  .form-pages {
    width: 100%;
    flex-direction: column;

    input {
      width: 100%;
    }
  }
}
