@import "../../Assets/GlobalStyles/Assets.scss";
@import "../../Assets/GlobalStyles/Mixin.scss";

.form-category {
  @include FilterStyle;

  p {
    @include FilterStyleTitle;
  }

  select {
    width: 250px;
    border: none;
    color: $white;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 0.95em;
    border-radius: 5px;
    outline: none;
    height: 40px;
    background-color: $grays;
  }
}

@media screen and (max-width: 900px) {
  .form-category {
    width: 100%;
    flex-direction: column;

    select {
      width: 100%;
    }
  }
}
